* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

/*NAV*/
#nav {
	background-color: #043927;
	height: 3.5em;
	line-height: 3.5em;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 10000;	
}
#nav a {
	border-radius: 8px;
	color: #d0f0c0;
	font-weight: 600;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0.4em 1.25em;
	text-decoration: none;
}
#nav a i {
	padding: 0 5px;
}
#nav a:hover {
	background: #d0f0c0;
	color: #000000;
}

/*HOME*/
#home {
	padding: 10em 0;
	text-align: left;
	text-align: center;
}
#home img {
	border-radius: 100%;
	height: 20em;
	width: 20em;
}
#home img:hover {
	height: 25em;
	width: 25em;
	transition-duration: 3s;
	transition-property: transform;
	transform: rotateY(360deg);
}
#home h1 {
	font-weight: 400;
	font-size: 3em;
	margin-top: 1.5em;
}
#home p {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.75em;
}

/*SKILLS*/
#skills {
	background-color: #fafafa;
	padding: 8em 10em 3em 10em;
	text-align: center;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
#skills h2 {
	font-size: 2.5em;
	font-weight: 600;
	margin-bottom: 10vh;
}
.box-skills-1,.box-skills-2 {
	border-radius: 8px;
	background: #fff;
	margin-bottom: 0.25em;
	max-width: 32em;
	padding: 3em 0em;
	border: solid 5px #f5f5f5;
}
.row-skills-1,.row-skills-2{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2em;
}
#skills img {
	background-color: #fff;
	height: 8em;
	padding:5px;
	width: 8em;
}
#skills img:hover{
	background: #e1e3e1;
	transition-duration: 1s;
	border: solid 1em #ddd;
}
#my-cv {
	padding-top: 5em;
}
#my-cv a {
	text-decoration: none;
	background-color: #07704c;
	color: #fff ;
	border-radius: 8px;
	border: solid 1px #ddd;
	padding: .7em;
}
#my-cv a:hover {
	background-color: #1fa677;
}


/*WORKS*/
#works {
	background-color: #fafafa;
	padding: 8em 0;
	text-align: center;
	box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
#works h2 {
	font-size: 2.5em;
	font-weight: 600;
	margin-bottom: 10vh;
}
.box.style.works {
	border-radius: 8px;
	border: solid 1px #ddd;
	background: #fff;
	margin-bottom: 0.25em;
	max-width: 32em;
	padding-top: 2em;
}
.box.style.works a{
	color: #3f544b;
	text-decoration: none;
}
.box.style.works a:hover{
	padding: .5em;
	background: #e1e3e1;
	transition-duration: .3s;
	border-radius: 1em;
	border: solid 1px #ddd;
}
.box.style.works h3 {
	padding: 2vh 0;
}
.box.style.works p {
	padding: 2em;
}
#works img {
	background-color: #fff;
	height: 15em;
	padding:5px;
	width: 18em;
}
#works img:hover {
	background-color: #2e8b57;
	transition-duration: 1s;
	border-radius: 1em;
	border: solid 1px #ddd;

}

/*CONTACT*/
#contact {
	text-align: center;
	padding: 6em 15em .5em 15em;
	background-color: #07704c;
	color: #d0f0c0;
}

form textarea {
	display: block;
	padding: 0.75em;
	margin: 0.5em 0;
	font-size: 1em;
	border-radius: 8px;
	border: solid 1px #ddd;
	background: #043927;
	color: #fff;
	width: 100%;
	line-height: 1.85em;
	font-weight: 300;
	font-size: 13pt;
	height: 13em;
	resize: none;

}

form input{
	display: flex;
	border: 0;
	padding: 0.75em;
	margin: 0.5em 0;
	font-size: 1em;
	border-radius: 8px;
	border: solid 1px #ddd;
	background: #043927;
	color: #fff;
	width: 100%;
	line-height: 1em;
	font-weight: 300;
	font-size: 13pt;
}

form button {
	justify-content: center;
	border: 0;
	padding: 0.5em;
	margin: 0.75em 0;
	font-size: 1em;
	border-radius: 8px;
	border: solid 1px #ddd;
	background: #fafafa;
	line-height: 1.85em;
	color: #043927;
	font-weight: 700;
	font-size: 13pt;
}

form button:hover {
	background-color: #d0f0c0;
	color: #043927 !important;
}

/* SOCIAL */
.social li {
	display: inline-block;
	margin: 0.5em;
}
.social li a {
	background-color: #2e8b57;
	display: block;
	width: 48px;
	height: 48px;
	border: solid 1px trasparent;
	border-radius: 6px;
	font-size: 3em;
}
.social li a:hover {
	background-color: #fff;
	transition-duration: .5s;
}
.fab.fa-facebook-square {
	color:#3C5A98;
}
.fab.fa-instagram-square {
	color: #E0D7C8;
}
.fab.fa-twitter-square {
	color: #2DAAE4;
}
.fab.fa-linkedin {
	color: #006599
}

#copyright p {
	color: #ddd;
	font-size: 14px;
	margin: 0;
	margin-top: 1em;
}